<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="shortcut icon" href="../Img/Icon_Printcenter.png" type="image/x-icon">
    <title>Printcenter Soluciones Gráficas</title>
</head>
    <body>
        <header class="menu">
            <div>
                <img src="../Img/Logo Printcenter - letras negras y grises.png" alt="Logo_Printcenter" class="logo">
            </div>
            <div>
                <nav class="header__nav">
                    <a href="../index.html">Home</a>
                    <a href="./Nosotros.html">Nosotros</a>
                    <a href="./Servicios.html">Servicios</a>
                    <a href="./Portfolio.html">Portfolio</a>
                    <a href="./Contacto.html">Contacto</a>
                </nav>
            </div>   
        </header>
            <main class="principal">
                <section class="seccion">
                    <h1 class="titulo__principal">NUESTROS TRABAJOS</h1>
                </section>
                <article class="container__portfolio">
                    <div class="Portfolio_1"><p class="titulos_portfolios">REVISTAS</p>
                        <img src="../Img/Portfolio/Portfolio_1.jpg" alt="Folletos y revistas" width="250px">
                    </div>
                    <div class="Portfolio_2"><p class="titulos_portfolios">BROCHURES</p>
                        <img src="../Img/Portfolio/Portfolio_2.png" alt="Flyers y catalogos" width="250px">
                    </div>
                    <div class="Portfolio_3"><p class="titulos_portfolios">IMPRESION DIGITAL</p>
                        <img src="../Img/Portfolio/Portfolio_3.png" alt="Folletos y revistas digital" width="250px">
                    </div>
                    <div class="Portfolio_4"><p class="titulos_portfolios">CATÁLOGOS</p>
                        <img src="../Img/Portfolio/Portfolio_4.png" alt="Tarjetas personales" width="250px">
                    </div>
                    <div class="Portfolio_5"><p class="titulos_portfolios">TARJETAS PERSONALES</p>
                        <img src="../Img/Portfolio/Portfolio_5.png" alt="Folletos y revistas offset" width="250px">
                    </div>
                    <div class="Portfolio_6"><p class="titulos_portfolios">FOLLETOS</p>
                        <img src="../Img/Portfolio/Portfolio_6.png" alt="Comunicacion visual" width="250px">
                    </div>
                    <div class="Portfolio_7"><p class="titulos_portfolios">TAZAS PERSONALIZADAS</p>
                        <img src="../Img/Portfolio/Portfolio_7.png" alt="tazas impresas" width="250px">
                    </div>
                    <div class="Portfolio_8"><p class="titulos_portfolios">BOTELLAS PERSONALIZADAS</p>
                        <img src="../Img/Portfolio/Portfolio_8.png" alt="Botellas impresas" width="250px">
                    </div>
                    <div class="Portfolio_9"><p class="titulos_portfolios">SUBLIMACION</p>
                        <img src="../Img/Portfolio/Portfolio_9.png" alt="Remeras y bolsas" width="250px">
                    </div>
                    <div class="Portfolio_10"><p class="titulos_portfolios">MERCHANDISING</p>
                        <img src="../Img/Portfolio/Portfolio_10.png" alt="Gorras y bolsas de papel" width="250px">
                    </div>
                    <div class="Portfolio_11"><p class="titulos_portfolios">ENCUADERNACIONES</p>
                        <img src="../Img/Portfolio/Portfolio_11.png" alt="Revistas offset" width="250px">
                    </div>
                    <div class="Portfolio_12"><p class="titulos_portfolios">LAPICERAS PERSONALIZADAS</p>
                        <img src="../Img/Portfolio/Portfolio_12.png" alt="Lapiceras" width="250px">
                    </div>
                    <div class="Portfolio_15"><p class="titulos_portfolios">GIGANTOGRAFÍAS EN LONA</p>
                        <img src="../Img/Portfolio/Portfolio_15.png" alt="Comunicacion visual" width="300px">
                    </div>
                    <div class="Portfolio_16"><p class="titulos_portfolios">ROLL UP´S</p>
                        <img src="../Img/Portfolio/Portfolio_16.png" alt="Comunicacion visual" width="300px">
                    </div>
                </article>                      
            </main>
                    <footer>
                        <nav class="footer__nav">
                            <ul class="footer__menu">
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="./Nosotros.html">Nosotros</a></li>
                                <li><a href="./Servicios.html">Servicios</a></li>
                                <li><a href="./Portfolio.html">Portfolio</a></li>
                                <li><a href="./Contacto.html">Contacto</a></li>
                            </ul>
                            <div class="redes_sociales">
                                <img src="../Img/Facebook.png" alt="Facebook" width="50px">
                                <img src="../Img/Instagram.png" alt="Instagram"width="50px">
                                <img src="../Img/Twitter.png" alt="Twitter"width="50px">
                                <img src="../Img/WhatsApp.png" alt="WhatsApp"width="50px">
                            </div>                                
                            <div>
                                <p class="copyright">Copyright 2022 © All rights Reserved</p>
                            </div>
                            <div class="email">
                                <a href="#">info@printcenter.com</a>
                            </div>
                            <div class="phone">
                                <p>Tel: (+54-11) 5555-5555</p>
                            </div>
                        </nav>               
                    </footer>            
    </body>
</html>