<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link rel="shortcut icon" href="../Img/Icon_Printcenter.png" type="image/x-icon">
    <title>Printcenter Soluciones Gráficas</title>
</head>
    <body>
        <header class="menu">
            <div>
                <img src="../Img/Logo Printcenter - letras negras y grises.png" alt="Logo_Printcenter" class="logo">
            </div>
            <div>
                <nav class="header__nav">
                    <a href="../index.html">Home</a>
                    <a href="./Nosotros.html">Nosotros</a>
                    <a href="./Servicios.html">Servicios</a>
                    <a href="./Portfolio.html">Portfolio</a>
                    <a href="./Contacto.html">Contacto</a>
                </nav>
            </div>   
        </header>
            <main class="principal">
                <section class="seccion">
                    <h1 class="titulo__principal">SERVICIOS</h1>
                </section>
                    <article class="articulos__grid">
                        <div class="container__servicios">
                            <div class="titulo1">
                                <h3 class="titulo__secundario">Offset</h3>
                            </div>
                            <div class="titulo2">
                                <h3 class="titulo__secundario">Digital</h3>
                            </div>
                            <div class="titulo3">
                                <h3 class="titulo__secundario">Comunicación Visual</h3>
                            </div>                        
                            <div class="texto_Offset">
                                <p>La impresión offset es el sistema tradicional. Está diseñado para imprimir grandes, medianas y pequeñas tiradas, con excelente calidad de impresión y a una alta velocidad. Permite imprimir en CMYK (Cyan/Magenta/Amarillo y Negro), más Pantones®, colores especiales y barniz en línea.
                                </p>
                            </div>
                            <div class="texto_Digital">
                                <p>La impresión digital es un sistema que mejoró exponencialmente su calidad en los últimos años, logrando hoy en día una reproducción similar a la del Offset tradicional. 
                                Es ideal para imprimir tiradas de bajo volumen y que necesiten un formato de pliego menor al de Offset.
                                </p>
                            </div>                    
                            <div class="texto_Com_Visual">
                                <p>En Comunicación Visual la impresión se asemeja mucho a lo que expresamos previamente respecto a la impresión digital, ya que la información pasa directamente del ordenador a la impresora, con la ventaja que se puede imprimir sobre prácticamente todo tipo de sustratos (flexibles y rígidos en un espesor máximo de hasta 5 cms).
                                </p>
                            </div>
                            <div class="Offset_1">
                                <img src="../Img/offset_1.png" alt="offset_1" width="350px">
                            </div>
                            <div class="Offset_2">
                                <img src="../Img/offset_2.png" alt="offset_2" width="350px">
                            </div>
                            <div class="Offset_3">
                                <img src="../Img/offset_3.png" alt="offset_3" width="350px">
                            </div>
                            <div class="Digital_1">
                                <img src="../Img/Digital_1.png" alt="Digital_1" width="350px">
                            </div>
                            <div class="Digital_2">
                                <img src="../Img/Digital_2.png" alt="Digital_2" width="350px">
                            </div>
                            <div class="Digital_3">
                                <img src="../Img/Digital_3.png" alt="Digital_3" width="350px">
                            </div>
                            <div class="Com_visual_1">
                                <img src="../Img/Com_Visual_1.png" alt="Com_visual_1" width="350px">
                            </div>
                            <div class="Com_Visual_2">
                                <img src="../Img/Com_Visual_2.png" alt="Com_visual_2" width="350px">
                            </div>
                            <div class="Com_Visual_3">
                                <img src="../Img/Com_Visual_3.png" alt="Com_visual_3" width="350px">
                            </div>
                        </div>
                    </article>
                </main>
            <footer>
                <nav class="footer__nav">
                    <ul class="footer__menu">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./Nosotros.html">Nosotros</a></li>
                        <li><a href="./Servicios.html">Servicios</a></li>
                        <li><a href="./Portfolio.html">Portfolio</a></li>
                        <li><a href="./Contacto.html">Contacto</a></li>
                    </ul>
                    <div class="redes_sociales">
                        <img src="../Img/Facebook.png" alt="Facebook" width="50px">
                        <img src="../Img/Instagram.png" alt="Instagram"width="50px">
                        <img src="../Img/Twitter.png" alt="Twitter"width="50px">
                        <img src="../Img/WhatsApp.png" alt="WhatsApp"width="50px">
                    </div>                                
                    <div>
                        <p class="copyright">Copyright 2022 © All rights Reserved</p>
                    </div>
                    <div class="email">
                        <a href="#">info@printcenter.com</a>
                    </div>
                    <div class="phone">
                        <p>Tel: (+54-11) 5555-5555</p>
                    </div>
                </nav>               
            </footer>            
    </body>
</html>